button {
  height: 36px;
  line-height: 36px;
  border: none;
  padding: 0 20px;
  font-size: 18px;
  color: white;
  background-color: #999;
  cursor: pointer;

  &:hover {
    background-color: #777;
  }
}
