.download-info {
  .content-pane();

  padding: 10px;

  .download-info-pending {
    pointer-events: none;
    opacity: 0.5;
  }

  @play-pause-size: 30px;

  .download-info-heading {
    position: relative;

    .download-stop-button, .download-start-button {
      position: absolute;
      width: @play-pause-size;
      height: 100%;
      padding: 0;
      margin: 0;
      top: 0;
      left: 0;
      border: none;
      font-size: 0;
      color: transparent;

      background-size: (@play-pause-size / 2);
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
    }

    .download-start-button {
      background-image: url('../images/play.svg');
    }

    .download-stop-button {
      background-image: url('../images/pause.svg');
    }

    .download-info-name {
      .char-wrapped();
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      top: 0;
      left: @play-pause-size;
      width: calc(~"100% - "(@play-pause-size));
      color: #777;
      padding: 5px 0 5px 5px;
    }
  }

  .loading-bar {
    margin-top: 10px;
    margin-left: (@play-pause-size + 5px);
  }

  .download-info-delete-container {
    text-align: center;
    margin-top: 20px;
  }

  .download-info-table {
    .clear-float();

    width: 100%;

    .download-info-data {
      .clear-float();

      display: inline-block;
      padding-top: 20px;

      @media (max-width: 500px) {
        padding-left: 5px;
        padding-right: 5px;
      }

      @media (min-width: 500px) {
        padding-left: 30px;
        padding-right: 30px;
      }

      label:first-child {
        display: block;
        float: top;
        color: #65bcd4;
        margin-bottom: 5px;
      }

      label:last-child {
        float: bottom;
        color: #777;
      }
    }

    td:first-child {
      width: 100%;
    }

    td:last-child {
      width: auto;
      white-space: nowrap;
    }
  }

  .download-files, .download-files-loading, .download-files-error {
    margin-top: 20px;
  }

  .download-files-loading {
    position: relative;
    height: (@loader-size + 20px);
    width: 100%;

    .loader {
      position: absolute;
      left: calc(~"50% - "(@loader-size / 2));
      top: 10px;
    }
  }

  .download-files-error {
    .char-wrapped();

    text-align: center;
    color: red;
  }

  .download-files {
    text-align: center;

    .heading {
      font-weight: 600;
      margin-bottom: 5px;
    }

    a {
      .char-wrapped();
      display: block;
      text-decoration: none;
      color: #777;
      padding: 5px 0;

      &:hover {
        color: #999;
      }
    }
  }
}
