.download-info {
  .content-pane();

  padding: 10px;

  .download-frozen {
    pointer-events: none;
    opacity: 0.5;
  }

  .download-actions {
    margin-top: 10px;
    text-align: center;

    button {
      margin: 0 5px;
    }
  }

  table {
    margin: auto;

    td:first-child {
      font-weight: 600;
      text-align: right;
      padding-right: 10px;
    }

    td:not(:first-child) {
      .char-wrapped();
    }
  }
}
