#downloads {
  .content-pane();
  .list();

  .download {
    .list-item();

    @status-size: 10px;
    @padding: 10px;

    padding: @padding @padding @padding (@padding*2 + @status-size);

    .download-state {
      position: absolute;
      top: calc(~"50% - "(@status-size / 2));
      left: @padding;
      width: @status-size;
      height: @status-size;
    }

    .download-state-active {
      .download-state();
      background-color: green;
    }

    .download-state-inactive {
      .download-state();
      background-color: #bbb;
    }

    .download-name {
      .char-wrapped();
      font-weight: 600;
      max-width: 100%;
    }

    .download-stats {
      margin-top: 5px;

      .download-size, .download-rate, .download-upload {
        margin-right: 10px;
        white-space: nowrap;
        display: inline-block;
        &::before {
          font-style: italic;
        }
      }

      .download-size::before {
        content: 'Size: ';
      }

      .download-upload::before {
        content: 'Uploaded: ';
      }

      .download-rate::before {
        content: 'DL: ';
      }
    }
  }
}

#no-downloads {
  @height: 100px;

  .content-pane();
  height: @height;

  h1 {
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: @height;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
  }
}
