.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.passive-list-item(@spacing) {
  position: relative;
  box-sizing: border-box;
  width: 100%;

  &:not(:last-child) {
    border-bottom: 1px solid #d5d5d5;
  }
}

.list-item(@spacing) {
  .passive-list-item(@spacing);

  color: #777;

  &:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }

  * {
    pointer-events: none;
  }
}

.list-item-info-box {
  .clear-float();

  margin-top: 10px;

  .list-item-info-field {
    float: left;
    margin-right: 10px;

    label:first-child {
      color: #65bcd4;
      margin-right: 5px;
    }

    label:last-child {
      color: #777;
    }
  }
}
