.content-pane {
  @margin: 10px;
  @max-size: 600px;

  background-color: white;
  position: absolute;
  top: (@top-bar-size + @margin);
  margin-bottom: @margin;

  @media (max-width: (@max-size + @margin)) {
    width: calc(~"100% - "(@margin*2));
    left: @margin;
  }

  @media (min-width: (@max-size + @margin)) {
    width: @max-size;
    left: calc(~"50% - "(@max-size/2));
  }
}
