body {
  font-family: sans-serif;
  background-color: #d5d5d5;
}
.char-wrapped {
  word-wrap: break-word;
  word-break: break-all;
}
.loader {
  display: block;
  width: 20px;
  height: 20px;
  color: transparent;
  font-size: 0;
  background-image: url(../images/loader.svg);
  background-size: 100% 100%;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading-bar {
  position: relative;
  height: 4px;
}
.loading-bar::before,
.loading-bar .loading-bar-filler {
  position: absolute;
  left: 0;
  height: 4px;
}
.loading-bar::before {
  content: '';
  display: block;
  width: 100%;
  background-color: #d5d5d5;
}
.loading-bar .loading-bar-filler {
  background-color: #65bcd4;
}
button {
  height: 36px;
  line-height: 36px;
  border: none;
  padding: 0 20px;
  font-size: 18px;
  color: white;
  background-color: #999;
  cursor: pointer;
}
button:hover {
  background-color: #777;
}
button:focus {
  outline: 0;
}
#add-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: transparent;
  font-size: 0;
  cursor: pointer;
  background-image: url('../images/magnet.svg');
  background-color: #65bcd4;
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.1s linear;
}
#add-button:hover {
  background-color: #65bcd4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.content-pane {
  background-color: white;
  position: absolute;
  top: 58px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
@media (max-width: 610px) {
  .content-pane {
    width: calc(100% -  20px);
    left: 10px;
  }
}
@media (min-width: 610px) {
  .content-pane {
    width: 600px;
    left: calc(50% -  300px);
  }
}
.loader-pane {
  background-color: white;
  position: absolute;
  top: 58px;
  margin-bottom: 10px;
  box-sizing: border-box;
  height: 60px;
}
@media (max-width: 610px) {
  .loader-pane {
    width: calc(100% -  20px);
    left: 10px;
  }
}
@media (min-width: 610px) {
  .loader-pane {
    width: 600px;
    left: calc(50% -  300px);
  }
}
.loader-pane .loader {
  position: absolute;
  top: 20px;
  left: calc(50% -  10px);
}
.error-pane {
  background-color: white;
  position: absolute;
  top: 58px;
  margin-bottom: 10px;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-all;
  padding: 20px 10px;
  text-align: center;
  color: red;
}
@media (max-width: 610px) {
  .error-pane {
    width: calc(100% -  20px);
    left: 10px;
  }
}
@media (min-width: 610px) {
  .error-pane {
    width: 600px;
    left: calc(50% -  300px);
  }
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#downloads {
  background-color: white;
  position: absolute;
  top: 58px;
  margin-bottom: 10px;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 610px) {
  #downloads {
    width: calc(100% -  20px);
    left: 10px;
  }
}
@media (min-width: 610px) {
  #downloads {
    width: 600px;
    left: calc(50% -  300px);
  }
}
#downloads .download {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  background-color: white;
}
#downloads .download:not(:last-child) {
  border-bottom: 1px solid #d5d5d5;
}
#downloads .download:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
#downloads .download * {
  pointer-events: none;
}
#downloads .download .download-name {
  word-wrap: break-word;
  word-break: break-all;
  color: #777;
  max-width: 100%;
}
#downloads .download .loading-bar {
  margin-top: 15px;
}
#no-downloads {
  background-color: white;
  position: absolute;
  top: 58px;
  margin-bottom: 10px;
  box-sizing: border-box;
  height: 100px;
}
@media (max-width: 610px) {
  #no-downloads {
    width: calc(100% -  20px);
    left: 10px;
  }
}
@media (min-width: 610px) {
  #no-downloads {
    width: 600px;
    left: calc(50% -  300px);
  }
}
#no-downloads h1 {
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: #65bcd4;
}
.top-bar .top-bar-search-box {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  height: 28px;
  box-sizing: border-box;
  border: none;
  padding: 1px 16px;
  font-size: 16px;
  border-radius: 14px;
}
.top-bar .top-bar-search-box:focus {
  outline: 0;
}
.top-bar .top-bar-exit-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 28px;
  height: 28px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: transparent;
  font-size: 0;
  cursor: pointer;
  background-image: url('../images/back.svg');
  background-size: 100%;
}
.search-results {
  background-color: white;
  position: absolute;
  top: 58px;
  margin-bottom: 10px;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 610px) {
  .search-results {
    width: calc(100% -  20px);
    left: 10px;
  }
}
@media (min-width: 610px) {
  .search-results {
    width: 600px;
    left: calc(50% -  300px);
  }
}
.search-results .search-heading {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  font-weight: 600;
  padding: 10px;
}
.search-results .search-heading:not(:last-child) {
  border-bottom: 1px solid #d5d5d5;
}
.search-results .search-listing,
.search-results .search-empty,
.search-results .search-error {
  word-wrap: break-word;
  word-break: break-all;
  padding: 15px 10px;
}
.search-results .search-empty,
.search-results .search-error {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  font-style: italic;
}
.search-results .search-empty:not(:last-child),
.search-results .search-error:not(:last-child) {
  border-bottom: 1px solid #d5d5d5;
}
.search-results .search-error {
  color: red;
}
.search-results .search-listing {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}
.search-results .search-listing:not(:last-child) {
  border-bottom: 1px solid #d5d5d5;
}
.search-results .search-listing:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.search-results .search-listing * {
  pointer-events: none;
}
.search-results .search-loading {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
}
.search-results .search-loading:not(:last-child) {
  border-bottom: 1px solid #d5d5d5;
}
.search-results .search-loading .loader {
  position: absolute;
  top: 15px;
  left: calc(50% -  10px);
}
.download-info {
  background-color: white;
  position: absolute;
  top: 58px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 10px;
}
@media (max-width: 610px) {
  .download-info {
    width: calc(100% -  20px);
    left: 10px;
  }
}
@media (min-width: 610px) {
  .download-info {
    width: 600px;
    left: calc(50% -  300px);
  }
}
.download-info .download-frozen {
  pointer-events: none;
  opacity: 0.5;
}
.download-info .download-actions {
  margin-top: 10px;
  text-align: center;
}
.download-info .download-actions button {
  margin: 0 5px;
}
.download-info table {
  margin: auto;
}
.download-info table td:first-child {
  font-weight: 600;
  text-align: right;
  padding-right: 10px;
}
.download-info table td:not(:first-child) {
  word-wrap: break-word;
  word-break: break-all;
}
.download-info .download-files,
.download-info .download-files-loading,
.download-info .download-files-error {
  margin-top: 10px;
}
.download-info .download-files-loading {
  position: relative;
  height: 40px;
}
.download-info .download-files-loading .loader {
  position: absolute;
  left: calc(50% -  10px);
  top: 10px;
}
.download-info .download-files-error {
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
  color: red;
}
.download-info .download-files a {
  word-wrap: break-word;
  word-break: break-all;
  display: block;
}
.bay-info {
  background-color: white;
  position: absolute;
  top: 58px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
@media (max-width: 610px) {
  .bay-info {
    width: calc(100% -  20px);
    left: 10px;
  }
}
@media (min-width: 610px) {
  .bay-info {
    width: 600px;
    left: calc(50% -  300px);
  }
}
.bay-info .bay-info-name,
.bay-info .bay-info-seeders,
.bay-info .bay-info-leechers {
  display: block;
  margin-bottom: 20px;
}
.bay-info .bay-info-name::before,
.bay-info .bay-info-seeders::before,
.bay-info .bay-info-leechers::before {
  font-weight: 600;
}
.bay-info .bay-info-name::before {
  content: 'Name: ';
}
.bay-info .bay-info-seeders::before {
  content: 'Seeders: ';
}
.bay-info .bay-info-leechers::before {
  content: 'Leechers: ';
}
.bay-info .bay-info-name {
  word-wrap: break-word;
  word-break: break-all;
}
