<!doctype html>
<html>
  <head>
    <title>Seedgarden - 404 Not Found</title>
    <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="assets/global.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <center>
        The page you are looking for is unavailable. <a href="./">Go home</a>
      </center>
    </div>
  </body>
</html>