<!doctype html>
<html>
  <head>
    <title>Seedgarden</title>
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/global.css" rel="stylesheet">
    <script type="text/javascript" src="assets/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <center>
        <h2 class="h2">{{server}}</h2>
        <small>RPC URL: <b>{{rpcurl}}</b></small>
        <br />
        <small>Username: <b>{{username}}</b></small>
      </center>
      <br />
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>% Done</th>
            <th>Seed Ratio</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#downloads}}
          <tr>
            <input type="hidden" class="hash-field" value="{{hash}}" />
            <td>{{name}}</td>
            <td>
              <div class="progress">
                <div class="bar" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%;">
                  
                </div>
              </div>
            </td>
            <td>{{ratio}}</td>
            <td>
              <div class="btn-group">
                {{#isActive}}
                <button class="btn" onclick="location='startstop?action=stop&hash={{hash}}'">Stop</button>
                {{/isActive}}
                {{^isActive}}
                <button class="btn" onclick="location='startstop?action=start&hash={{hash}}'">Start</button>
                {{/isActive}}
                <button class="btn btn-danger" onclick="location='delete?hash={{hash}}'">Delete</button>
              </div>
            </td>
          </tr>
          {{/downloads}}
        </tbody>
      </table>
      <br />
      <center>
        {{#error}}
        <span style="color: red">{{error}}</span>
        <br /><br />
        {{/error}}
        <button class="btn" onclick="location='add'">Add Torrent</button>
        <br /><br />
        <a href="logout">Logout</a>
      </center>
    </div>
  </body>
</html>