<!doctype html>
<html>
  <head>
    <title>Seedgarden - Login</title>
    <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="assets/global.css" rel="stylesheet">
  </head>
  <body>
    <div class="container" style="width: 500px">
      <center>
        <h2 class="h2">Enter Server Information</h2>
      </center>
      <br />
      <br />
      <form method="post" class="form-horizontal">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="rpcurl">RPC URL</label>
            <div class="controls">
              <input name="rpcurl" id="rpcurl" type="text" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
              <input name="username" id="username" type="text" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input name="password" id="password" type="password" />
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
      {{#error}}
      <center>{{error}}</center>
      {{/error}}
    </div>
  </body>
</html>